@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  height: 70vh;
  margin: 14vh auto;
}

main div {
  width: 260px;
  height: 420px;
  background-image: url("../images/card.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

main div p {
  font-family: "Berkshire Swash", cursive;
  font-size: 2.3rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 140px;
}

.modal2 {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  display: none;
  margin-top: -14vh;
  padding: 2vw;
}

.modal2_show {
  display: block;
}

#timer {
  font-size: 2em;
  text-align: center;
  margin-left: -2vw;
  position: relative;
}

@keyframes color {
  from {
        background-color: lightgreen;
        width: 100wv;}
  to {
      background-color: lightcoral;
      width: 0;
      }
}

#color {
  position: absolute;
  top: 10px;
  width: 100vw;
  height: 100px;
  background-color: lightgreen;
  /* animation-name: color; */
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
}

#pytanie {
  font-size: 2.5em;
  width: 100vw;
  max-width: 100vw;
  text-align: center;
  margin-left: -2vw;
  margin-top: 27vh;
}
